$header-spacing: 50px;
$profile-picture-size: 130px;

header {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: minmax(auto, max-content);
  justify-content: center;
  justify-items: center;
  gap: $header-spacing;

  @include for-tablet-portrait-up {
    justify-content: start;
    grid-auto-flow: column;
  }

  .profile-img {
    height: $profile-picture-size;
    width: $profile-picture-size;
    border-radius: 100%;
    background-color: var(--stroke-color);
    border: var(--stroke-thickness) solid var(--stroke-color);
  }

  .profile-body {
    display: grid;
    grid-auto-flow: row;
    gap: 50px;

    @include for-tablet-landscape-up {
      grid-auto-flow: column;
    }

    .profile-info {
      text-align: center;

      @include for-tablet-portrait-up {
        text-align: left;
      }
    }

    .profile-separator {
      height: 100%;
      min-width: var(--stroke-thickness);
      min-height: var(--stroke-thickness);
      background-color: var(--stroke-color);
      animation-name: example;
      animation-duration: 1s;
    }
  }
}

@keyframes example {
  from {
    height: 0;
  }
  to {
  }
}

@keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
