:root {
  --headings-color: #272343;
  --body-color: #2d334a;

  --button-background: #bae8e8;
  --page-background: #fffff8;
  --card-background: #ffffff;

  --stroke-color: #272343;
  --stroke-thickness: 4px;
}
