@mixin _flex-spacing($spacing, $flex-direction) {
  @if $flex-direction == "row" {
    margin-right: $spacing;
  } @else if $flex-direction == "row-reversed" {
    margin-left: $spacing;
  } @else if $flex-direction == "column" {
    margin-bottom: $spacing;
  } @else if $flex-direction == "column-reversed" {
    margin-top: $spacing;
  }
}

@mixin flex-spacing($spacing, $flex-direction) {
  > * {
    @include _flex-spacing($spacing, $flex-direction);
  }

  > *:last-child {
    @include _flex-spacing(0, $flex-direction);
  }
}
