$color-nav-link: #1d1d1d;
$color-module: rgb(73, 73, 73);
$color-module-background: #f8f8f8;
$pad: 20px;

@import "compass/css3";

.clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

html {
    box-sizing: border-box;
    font: 100%/1.5 "Open Sans", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (min-width: 40rem) {
    html {
        font-size: 112%;
    }
}

@media (min-width: 64rem) {
    html {
        font-size: 120%;
    }
}

//header
header {
    @extend .clearfix;

    background-color: #1d1d1d;
    height: 80%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    h1 {
        border: 3px solid #fff;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        padding: .4rem .6rem;
        text-transform: uppercase;
    }

    p {
      
        margin: 0 auto;
    }

    a {
     
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.intro {
    margin: 4rem 0;
}

@media (min-width: 40rem) {
    .intro {
        margin: 6rem 0;
    }
}

.grid {
    @extend .clearfix;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}

img {
    height: auto;
    width: 100%;
    padding: 0;
}

[class*='col-'] {
    float: left;
    padding: 0 ($pad / 2);

    .grid &:last-of-type {}

    .flow-opposite {
        float: right;
    }
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3 {
    width: 33.33%;
}

.col-1-2 {
    width: 50%;
}

.col-1-4 {
    width: 25%;
}

.col-3-4 {
    width: 3 / 4 * 100%;
}

.col-1-8 {
    width: 12.5%;
}

.col-1-1 {
    width: 100%;
}

.module {
    background-color: $color-module-background;
    color: $color-module;
    position: relative;
    padding: $pad;
    &.seperator {
        &::after {
            position: absolute;
            bottom: 0;
            content: '';
            display: block;
            width: 90%;
            height: 1px;
            margin: 0 auto;
            left: 0;
            right: 0;
            background: #1d1d1d;
        }
    }
}

/* Opt-in outside padding */
.grid-pad {
    padding: $pad $pad $pad;

    @media (max-width: 850px) {
        [class*='col-'] {
            padding: $pad;
        }
    }
}

.centre {
    text-align: center;
}

.text {}

body {
    font-family: 'Open sans', sans-serif;
    background-color: #1d1d1d;
    padding: 0;
    margin: 0;
}

h1 {
    em {
        color: #666;
        font-size: 16px;
    }
}

section {
    padding: 0 80px;
    width: 100%;

    a {
        text-decoration: none;
    }

    h2 {
        color: white;

        em {
            color: #eee;
            font-size: 0.5em;
        }
    }

    &#CV {
        background-color: #00aba9;
    }

    &#work {
        &.site {
            background-color: #a70f03;
        }

        &.app {
            background-color: #2b5797;
        }
    }
}

.flow-opposite {
    float: right;
}

@media (max-width: 850px) {
    [class*='col-'] {
        width: 100%;
        padding: 0;

        .flow-opposite {
            float: left;
        }
    }

    section {
        padding: 0 5px;
    }

    #nav {
        ul {
            &:first-of-type {
                padding-left: 0.5em;

                li {
                    width: 3.2em;
                }
            }
        }
    }
}

#nav {
    color: $color-nav-link;
    opacity: 0.9;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: block;

    ul {
        padding-left: 1em;
        list-style: none;

        li {
            width: 3.5em;
            display: inline-block;

            a {
                text-decoration: none;

                &:link {
                    color: $color-nav-link;
                }

                &:hover {
                    text-decoration: underline;
                    color: orange;
                }

                &:visited {
                    color: $color-nav-link;
                }
            }
        }

        float: left;

        &:last-of-type {
            padding-right: 1em;
            padding-left: 0;
            float: right;

            li {
                width: 2em;
                font-size: 1.2em;
            }
        }
    }
}