body {
  font-family: 'Open sans', sans-serif; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left; }

.col-2-3 {
  width: 66.66%; }

.col-1-3 {
  width: 33.33%; }
