$profile-picture-size: 130px;

.profile-header {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: minmax(auto, max-content);
  justify-content: center;
  justify-items: center;
  gap: 2.5rem;

  @include for-tablet-portrait-up {
    gap: 5rem;
    justify-content: start;
    grid-auto-flow: column;
  }

  &__img {
    height: $profile-picture-size;
    width: $profile-picture-size;
    border-radius: 100%;
    background-color: var(--stroke-color);
    border: var(--stroke-thickness) solid var(--stroke-color);
  }

  &__body {
    display: grid;
    grid-auto-flow: row;
    gap: 3rem;

    @include for-tablet-landscape-up {
      grid-auto-flow: column;
    }
  }

  &__Info {
    text-align: center;

    @include for-tablet-portrait-up {
      text-align: left;
    }
  }

  &__separator {
    height: 100%;
    min-width: var(--stroke-thickness);
    min-height: var(--stroke-thickness);
    background-color: var(--stroke-color);
    animation-name: animate-in-height;
    animation-duration: 1s;
  }
}

@keyframes animate-in-height {
  from {
    height: 0;
  }
  to {
  }
}

@keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

section.profile-section {
  &#about {
    border: var(--stroke-thickness) solid var(--stroke-color);
    background: var(--card-background);
    box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.25);
    animation: animate-in-shadow 1s;
  }
}

@keyframes animate-in-shadow {
  from {
    box-shadow: none;
  }
}

.public-work__title {
  margin-left: -$section-padding-h;
  margin-right: -$section-padding-h;
}
