.site-title {
	margin: 0 auto;
	border: 3px solid #fff;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 1.8rem;
	margin-bottom: 2rem;
	padding: .4rem .6rem;
	text-transform: uppercase;
}