.post,
.page {
  &__header {
    text-align: center;
  }

  &__content {
    max-width: 41rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.post-item {
  margin-bottom: 3rem;
  &__title {
    margin-bottom: 0;
    line-height: 1;
  }
  &__meta {
    margin-bottom: 1rem;
    & > * {
      margin-bottom: 0;
    }
  }
}
