#categories {
	margin: 0;
	padding: 0;
	* {
		margin: 0;
		padding: 0;
	}
	.category {

		list-style: none;
		width:100%;
		

		.category-wrapper {
			background: #CCCCCC;

			.posts {
				min-height: $post-height + 2 * $spacing-unit;
				list-style: none;
				display:flex;
				flex-flow: row wrap;
				justify-content: center;
				align-content: space-around;
		
				

				.post {
					color: $text-color;
					margin: 20px;
					border-radius: 5px;
					//border: 4px rgb(133, 202, 93) solid;
					width: $post-width;
					background:#222222;
					
					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

					
					
					img {
						width:100%;
					}
					.content {
						padding: 10px;
						font-size: 0.8rem;
					}

					.header {
						list-style:none;
						padding: 0.5rem;
						font-size: 1.3rem;

						display: block;
						height: 2.4rem;
						border-bottom: 2px $text-color solid;
						
						.title {
							text-align: center;
						}
						.date {
							display:none;
							float: right;
						}

					}

				}

			}
		}
	}
}