body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  color: var(--body-color);
}

.no-bottom-spacing {
  padding-bottom: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  color: var(--headings-color);
  line-height: 1.2;
}

h1 {
  font-size: 3rem;

  &.heading--xl {
    font-size: 5rem;
  }
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

.no-wrap {
  white-space: nowrap;
}

.full-width {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-content: center;
  justify-content: center;

  &::after {
    content: "";
    display: inline-block;
    align-self: center;
    height: var(--stroke-thickness);
    width: 50%;
    animation-name: animate-in-stroke;
    animation-duration: 1s;
    background: var(--stroke-color);
    margin-left: 50px;
  }

  &::before {
    content: "";
    display: inline-block;
    align-self: center;
    height: var(--stroke-thickness);
    justify-self: center;
    width: 50%;
    animation-name: animate-in-stroke;
    animation-duration: 1s;
    margin-right: 50px;
    background: var(--stroke-color);
  }
}
@keyframes animate-in-stroke {
  from {
    width: 0;
  }
}

p,
ul,
ol ul {
  margin-bottom: 1.5rem;
}

a {
  color: var(--link-color);
}

blockquote {
  background: #b8b8b81c;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote cite {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}
