@import "variables";
@import "breakpoints";
@import "theme";
@import "typography";
@import "list-utils";
@import "home";
@import "pages";

* {
  box-sizing: border-box;
}

body {
  background: var(--page-background);
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

header,
section,
article,
nav {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  @include for-tablet-portrait-up {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

header.header--xl {
  padding: 5rem 0;
}

section,
article {
  padding: $section-padding-v $section-padding-h;
  margin-bottom: 6rem;
}

section > header,
section > article {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
}

nav {
  padding: 2rem 0;
}

footer {
  padding: 2rem 0;
  text-align: center;
}
