@import "variables";
@import "breakpoints";
@import "theme";
@import "typography";
@import "list-utils";
@import "home";
@import "pages";
@import "code-theme";

* {
  box-sizing: border-box;
}

body {
  background: var(--page-background);
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

header,
section,
article,
nav {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  @include for-tablet-portrait-up {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

section {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

header.header--xl {
  padding: 5rem 0;
}

section,
article {
  padding: $section-padding-v $section-padding-h;
  margin-bottom: 6rem;
}
section > header,
section > article {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
}

nav {
  padding: 2rem 0;
  display: flex;
  justify-content: center;

  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__image {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: var(--stroke-color);
      border: calc(var(--stroke-thickness) / 1.5) solid var(--stroke-color);
    }
    &__name {
      margin-bottom: 0;
      line-height: 0;
      font-size: 2rem;
    }
  }
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0.6rem 0 0.3rem;
    font-size: 1.1rem;
    gap: 1rem;
  }
}

footer {
  padding: 2rem 0;
  text-align: center;
}
