---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Brooke Hatton">
  <header class="profile-header header--xl">
    <img
      src="./images/profile.jpg"
      alt="me smiling wearing a cap with a propeller attached"
      class="profile-header__img"
    />
    <div class="profile-header__body">
      <div class="profile-header__Info">
        <h1 class="no-bottom-spacing no-wrap">Brooke Hatton</h1>
        <p class="role no-bottom-spacing">Full Stack Developer</p>
        <p class="location">London, UK</p>
        <ul class="inline-list contact-links">
          <li><a href="mailto:hatton.brooke@me.com" rel="me">Email</a></li>
          <li><a href="https://github.com/Brookke" rel="me">Github</a></li>
          <li>
            <a href="https://www.linkedin.com/in/brooke-h-68374895" rel="me">
              LinkedIn
            </a>
          </li>
        </ul>
      </div>
      <div class="profile-header__separator"></div>
      <div class="profile-header__overview">
        <h2 class="no-bottom-spacing">Experience</h2>
        <ul class="inline-list separators">
          <li>Typescript</li>
          <li>CSS</li>
          <li>HTML</li>
          <li>React</li>
          <li>Go</li>
          <li>Java</li>
        </ul>

        <h2 class="no-bottom-spacing">Education</h2>
        <p>1st Class Honours, BEng Computer Science, University Of York</p>
      </div>
    </div>
  </header>
  <section class="profile-section" id="about">
    <h2>👋 Hey there</h2>
    <p>
      I'm Brooke! I'm currently working at
      <a href="https://monzo.com">Monzo</a> as a Senior Web Engineer in the Payments team. I love
      making things that make people's lives easier and that are delightful to use.
    </p>
    <p>
      This site is a place for me to share the things I have learned, the things
      I am working on (both in and out of work) and the things I am excited
      about. Thanks for stopping by!
    </p>
  </section>
  <section>
    <h2>Posts</h2>
    <PostList />
  </section>
  <Footer />
</BaseLayout>

<style>
  header, section {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 600px) {
    header, section {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }

  section {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    padding: var(--section-padding-v) var(--section-padding-h);
    margin-bottom: 6rem;
  }

  /* Profile Header Styles */
  .profile-header {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: minmax(auto, max-content);
    justify-content: center;
    justify-items: center;
    gap: 2.5rem;
  }

  @media (min-width: 600px) {
    .profile-header {
      gap: 4rem;
      justify-content: start;
      grid-auto-flow: column;
    }
  }

  .profile-header__img {
    height: 130px;
    width: 130px;
    border-radius: 100%;
    background-color: var(--stroke-color);
    border: var(--stroke-thickness) solid var(--stroke-color);
  }

  .profile-header__body {
    display: grid;
    grid-auto-flow: row;
    gap: 3rem;
  }

  @media (min-width: 900px) {
    .profile-header__body {
      grid-auto-flow: column;
    }
  }

  @media (min-width: 1200px) {
    .profile-header__body {
      gap: 5rem;
    }
  }

  .profile-header__Info {
    text-align: center;
  }

  @media (min-width: 600px) {
    .profile-header__Info {
      text-align: left;
    }
  }

  .profile-header__separator {
    height: 100%;
    min-width: var(--stroke-thickness);
    min-height: var(--stroke-thickness);
    background-color: var(--stroke-color);
    animation-name: animate-in-height;
    animation-duration: 1s;
  }

  @keyframes animate-in-height {
    from {
      height: 0;
    }
  }

  /* Profile Section (About Card) */
  .profile-section#about {
    border: var(--stroke-thickness) solid var(--stroke-color);
    background: var(--card-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: animate-in-shadow 1s;
  }

  @keyframes animate-in-shadow {
    from {
      box-shadow: none;
    }
  }
</style>
