$inline-list-spacing: 1rem;

ul.inline-list {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  > li:not(:last-of-type) {
    padding-right: $inline-list-spacing;
  }

  &.separators > li:not(:last-of-type) {
    padding-right: 0;

    &::after {
      content: "\2022";
      padding: 0 $inline-list-spacing/2;
    }
  }
}

.no-list-style {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
