:root {
  --headings-color: #272343;
  --body-color: #2d334a;

  --button-background: #bae8e8;
  --page-background: rgb(250, 250, 250);
  --card-background: #ffffff;

  --stroke-color: #272343;
  --stroke-thickness: 2px;

  --link-color: rgb(26 110 233);
}
