/* line 9, ../sass/screen.scss */
.clearfix::after, header::after, .grid::after {
  clear: both;
  content: '';
  display: table;
}

/* line 16, ../sass/screen.scss */
html {
  box-sizing: border-box;
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 24, ../sass/screen.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 40rem) {
  /* line 31, ../sass/screen.scss */
  html {
    font-size: 112%;
  }
}
@media (min-width: 64rem) {
  /* line 37, ../sass/screen.scss */
  html {
    font-size: 120%;
  }
}
/* line 43, ../sass/screen.scss */
header {
  background-color: #1d1d1d;
  height: 80%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
/* line 50, ../sass/screen.scss */
header h1 {
  border: 3px solid #fff;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  padding: .4rem .6rem;
  text-transform: uppercase;
}
/* line 61, ../sass/screen.scss */
header p {
  margin: 0 auto;
}
/* line 66, ../sass/screen.scss */
header a {
  text-decoration: underline;
}
/* line 70, ../sass/screen.scss */
header a:hover {
  text-decoration: none;
}

/* line 76, ../sass/screen.scss */
.intro {
  margin: 4rem 0;
}

@media (min-width: 40rem) {
  /* line 81, ../sass/screen.scss */
  .intro {
    margin: 6rem 0;
  }
}
/* line 86, ../sass/screen.scss */
.grid {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

/* line 93, ../sass/screen.scss */
img {
  height: auto;
  width: 100%;
  padding: 0;
}

/* line 99, ../sass/screen.scss */
[class*='col-'] {
  float: left;
  padding: 0 10px;
}
/* line 105, ../sass/screen.scss */
[class*='col-'] .flow-opposite {
  float: right;
}

/* line 110, ../sass/screen.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 114, ../sass/screen.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 118, ../sass/screen.scss */
.col-1-2 {
  width: 50%;
}

/* line 122, ../sass/screen.scss */
.col-1-4 {
  width: 25%;
}

/* line 126, ../sass/screen.scss */
.col-3-4 {
  width: 75%;
}

/* line 130, ../sass/screen.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 134, ../sass/screen.scss */
.col-1-1 {
  width: 100%;
}

/* line 138, ../sass/screen.scss */
.module {
  background-color: #f8f8f8;
  color: #494949;
  position: relative;
  padding: 20px;
}
/* line 144, ../sass/screen.scss */
.module.seperator::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 90%;
  height: 1px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #1d1d1d;
}

/* Opt-in outside padding */
/* line 160, ../sass/screen.scss */
.grid-pad {
  padding: 20px 20px 20px;
}
@media (max-width: 850px) {
  /* line 164, ../sass/screen.scss */
  .grid-pad [class*='col-'] {
    padding: 20px;
  }
}

/* line 170, ../sass/screen.scss */
.centre {
  text-align: center;
}

/* line 176, ../sass/screen.scss */
body {
  font-family: 'Open sans', sans-serif;
  background-color: #1d1d1d;
  padding: 0;
  margin: 0;
}

/* line 184, ../sass/screen.scss */
h1 em {
  color: #666;
  font-size: 16px;
}

/* line 190, ../sass/screen.scss */
section {
  padding: 0 80px;
  width: 100%;
}
/* line 194, ../sass/screen.scss */
section a {
  text-decoration: none;
}
/* line 198, ../sass/screen.scss */
section h2 {
  color: white;
}
/* line 201, ../sass/screen.scss */
section h2 em {
  color: #eee;
  font-size: 0.5em;
}
/* line 207, ../sass/screen.scss */
section#CV {
  background-color: #00aba9;
}
/* line 212, ../sass/screen.scss */
section#work.site {
  background-color: #a70f03;
}
/* line 216, ../sass/screen.scss */
section#work.app {
  background-color: #2b5797;
}

/* line 222, ../sass/screen.scss */
.flow-opposite {
  float: right;
}

@media (max-width: 850px) {
  /* line 227, ../sass/screen.scss */
  [class*='col-'] {
    width: 100%;
    padding: 0;
  }
  /* line 231, ../sass/screen.scss */
  [class*='col-'] .flow-opposite {
    float: left;
  }

  /* line 236, ../sass/screen.scss */
  section {
    padding: 0 5px;
  }

  /* line 242, ../sass/screen.scss */
  #nav ul:first-of-type {
    padding-left: 0.5em;
  }
  /* line 245, ../sass/screen.scss */
  #nav ul:first-of-type li {
    width: 3.2em;
  }
}
/* line 253, ../sass/screen.scss */
#nav {
  color: #1d1d1d;
  opacity: 0.9;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
}
/* line 264, ../sass/screen.scss */
#nav ul {
  padding-left: 1em;
  list-style: none;
  float: left;
}
/* line 268, ../sass/screen.scss */
#nav ul li {
  width: 3.5em;
  display: inline-block;
}
/* line 272, ../sass/screen.scss */
#nav ul li a {
  text-decoration: none;
}
/* line 275, ../sass/screen.scss */
#nav ul li a:link {
  color: #1d1d1d;
}
/* line 279, ../sass/screen.scss */
#nav ul li a:hover {
  text-decoration: underline;
  color: orange;
}
/* line 284, ../sass/screen.scss */
#nav ul li a:visited {
  color: #1d1d1d;
}
/* line 292, ../sass/screen.scss */
#nav ul:last-of-type {
  padding-right: 1em;
  padding-left: 0;
  float: right;
}
/* line 297, ../sass/screen.scss */
#nav ul:last-of-type li {
  width: 2em;
  font-size: 1.2em;
}
