/* line 6, ../sass/screen.scss */
.clearfix:after, header:after, .grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 12, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/screen.scss */
html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 40rem) {
  /* line 25, ../sass/screen.scss */
  html {
    font-size: 112%;
  }
}
@media (min-width: 64rem) {
  /* line 29, ../sass/screen.scss */
  html {
    font-size: 120%;
  }
}
/* line 34, ../sass/screen.scss */
header {
  height: 90vh;
  background-color: #1d1d1d;
  text-align: center;
}

/* line 41, ../sass/screen.scss */
.intro {
  margin: 4rem 0;
}

@media (min-width: 40rem) {
  /* line 44, ../sass/screen.scss */
  .intro {
    margin: 6rem 0;
  }
}
/* line 48, ../sass/screen.scss */
header h1 {
  border: 3px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  padding: .4rem .6rem;
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

/* line 61, ../sass/screen.scss */
header p {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}

/* line 66, ../sass/screen.scss */
header a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}

/* line 71, ../sass/screen.scss */
header a:hover {
  text-decoration: none;
}

/* line 75, ../sass/screen.scss */
.grid {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

/* line 83, ../sass/screen.scss */
img {
  width: 100%;
  height: auto;
  padding: 0;
}

/* line 88, ../sass/screen.scss */
[class*='col-'] {
  float: left;
  padding-right: 20px;
}
/* line 91, ../sass/screen.scss */
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}
/* line 94, ../sass/screen.scss */
[class*='col-'] .flow-opposite {
  float: right;
}

/* line 96, ../sass/screen.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 99, ../sass/screen.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 102, ../sass/screen.scss */
.col-1-2 {
  width: 50%;
}

/* line 105, ../sass/screen.scss */
.col-1-4 {
  width: 25%;
}

/* line 108, ../sass/screen.scss */
.col-3-4 {
  width: 75%;
}

/* line 111, ../sass/screen.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 114, ../sass/screen.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 117, ../sass/screen.scss */
.col-1-1 {
  width: 100%;
}

/* line 121, ../sass/screen.scss */
.module {
  padding: 20px;
  background-color: #f8f8f8;
  color: #494949;
}

/* Opt-in outside padding */
/* line 128, ../sass/screen.scss */
.grid-pad {
  padding: 20px 0 20px 20px;
}
/* line 130, ../sass/screen.scss */
.grid-pad [class*='col-']:last-of-type {
  padding-right: 20px;
}

/* line 134, ../sass/screen.scss */
.centre {
  text-align: center;
}

/* line 140, ../sass/screen.scss */
body {
  font-family: 'Open sans', sans-serif;
  background-color: #1d1d1d;
  padding: 0;
  margin: 0;
}

/* line 147, ../sass/screen.scss */
h1 em {
  color: #666;
  font-size: 16px;
}

/* line 152, ../sass/screen.scss */
section {
  padding: 0 80px;
}
/* line 154, ../sass/screen.scss */
section a {
  text-decoration: none;
}
/* line 157, ../sass/screen.scss */
section h2 {
  color: white;
}
/* line 159, ../sass/screen.scss */
section h2 em {
  color: #eee;
  font-size: 0.5em;
}
/* line 164, ../sass/screen.scss */
section#CV {
  background-color: #00aba9;
}
/* line 168, ../sass/screen.scss */
section#work.site {
  background-color: #a70f03;
}
/* line 171, ../sass/screen.scss */
section#work.app {
  background-color: #2b5797;
}

/* line 177, ../sass/screen.scss */
.flow-opposite {
  float: right;
}

@media (max-width: 850px) {
  /* line 179, ../sass/screen.scss */
  [class*='col-'] {
    width: 100%;
    padding-right: 0;
  }
  /* line 182, ../sass/screen.scss */
  [class*='col-'] .flow-opposite {
    float: left;
  }

  /* line 184, ../sass/screen.scss */
  section {
    padding: 0 5px;
  }

  /* line 189, ../sass/screen.scss */
  #nav ul:first-of-type {
    padding-left: 0.5em;
  }
  /* line 191, ../sass/screen.scss */
  #nav ul:first-of-type li {
    width: 3.2em;
  }
}
/* line 200, ../sass/screen.scss */
#nav {
  color: #1d1d1d;
  opacity: 0.9;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
}
/* line 211, ../sass/screen.scss */
#nav ul {
  padding-left: 1em;
  list-style: none;
  float: left;
}
/* line 214, ../sass/screen.scss */
#nav ul li {
  width: 3.5em;
  display: inline-block;
}
/* line 218, ../sass/screen.scss */
#nav ul li a {
  text-decoration: none;
}
/* line 220, ../sass/screen.scss */
#nav ul li a:link {
  color: #1d1d1d;
}
/* line 224, ../sass/screen.scss */
#nav ul li a:hover {
  text-decoration: underline;
  color: orange;
}
/* line 228, ../sass/screen.scss */
#nav ul li a:visited {
  color: #1d1d1d;
}
/* line 235, ../sass/screen.scss */
#nav ul:last-of-type {
  padding-right: 1em;
  padding-left: 0;
  float: right;
}
/* line 239, ../sass/screen.scss */
#nav ul:last-of-type li {
  width: 2em;
  font-size: 1.2em;
}
