@import "breakpoints";
@import "theme";
@import "typography";
@import "list-utils";
@import "home";
@import "post";

$page-margin: 50px;

* {
  box-sizing: border-box;
}

body {
  background: var(--page-background);
  max-width: 1500px;
  width: 100%;
  margin: 100px auto;
}

header,
section,
article {
  margin-left: 15px;
  margin-right: 15px;

  @include for-tablet-portrait-up {
    margin-left: $page-margin;
    margin-right: $page-margin;
  }
}
