<nav>
  <a href="/" class="brand" title="Home Page">
    <img
      src="/images/profile.jpg"
      alt="me smiling wearing a cap with a propeller attached"
      class="brand__image"
    />
    <h1 class="brand__name">Brooke Hatton</h1>
  </a>
</nav>

