<nav>
  <a href="/" class="brand" title="Home Page">
    <img
      src="/images/profile.jpg"
      alt="me smiling wearing a cap with a propeller attached"
      class="brand__image"
    />
    <h1 class="brand__name">Brooke Hatton</h1>
  </a>
</nav>

<style>
  nav {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .brand__image {
    margin: 0;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--stroke-color);
    border: calc(var(--stroke-thickness) / 1.5) solid var(--stroke-color);
  }

  .brand__name {
    margin-bottom: 0;
    line-height: 0;
    font-size: 2rem;
  }
</style>
