<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="{{ page.description }}"
    />
    <title>{{ page.title }}</title>
    <link
      rel="preload"
      as="font"
      href="/stylesheets/fonts/Butler-Medium.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- <nav>
      <a href="/">Home</a>
    </nav> -->

    <article class="post">
      <header class="post__header">
        <h1 class="post__title large">{{ page.title }}</h1>
        <div class="post__meta">
          <span>{{ page.date | date_to_string }}</span>
          &#x2022;
          <ul class="inline-list separators">
            {% for cat in page.categories %}
            <li>{{cat}}</li>
            {% endfor %}
          </ul>
        </div>
      </header>
      <div class="post__content">{{ content }}</div>
    </article>
    <footer>&copy; {{ site.owner }} - {{ page.date | date: "%Y" }}</footer>
  </body>
</html>
