<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ page.description }}" />
    <title>{{ page.title }}</title>
    {% include stylings.html %}
  </head>
  <body>
    {% include nav.html %}
    <article class="post">
      <header class="post__header header--xl">
        <h1 class="post__title heading--xl">{{ page.title }}</h1>
        <div class="post__meta">
          <span>{{ page.date | date_to_string }}</span>
          {% unless page.categories == empty %} &#x2022;
          <ul class="inline-list separators">
            {% for category in page.categories %}
            <li>{{category | upcase }}</li>
            {% endfor %}
          </ul>
          {% endunless %}
        </div>
      </header>
      <div class="post__content">{{ content }}</div>
    </article>
    {% include footer.html %}
  </body>
</html>
