---
export interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Brooke Hatton, Full Stack Developer. 1st Class Honours, BEng Computer Science, University Of York.",
} = Astro.props;

// Import the global stylesheet
import "../styles/global.css";
---

<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="google-site-verification"
      content="rt53dnmciFFqyh_5cgSE9MuIYbirehIoiOCwlxYpKsg"
    />
    <title>{title}</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
